version=1
formatters
{
    hk
    {
        formatter=format,datefmt,style,validate
    }
    hk2
    {
        formatter=class,format,datefmt,style,validate
    }
}
filters
{
    fil1{
        name=
    }
}
handlers
{
    h1
    {
       class
       level
       formatter
       filters 
    }
}
loggers
{
log1{
   level
   propagate
   filters
   handlers :[h1,h2]
    }
}
root
{
   level
   filters
   handlers 
}
incremental = True/false
disable_existing_loggers = True/false